<!DOCTYPE html>
<html lang="en" ng-app="scriptumApp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Scriptum | Post your shit.</title>
  <!-- styles -->
  <link rel="stylesheet" type="text/css" href="css/materialize-scriptum.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <!-- scripts -->
  <script src="js/jquery.js" type="text/javascript"></script>
  <script src="js/materialize.js" type="text/javascript"></script>
  <script src="js/angular.js"></script>
  <script src="js/angular-scroll.js"></script>
  <script src="js/angular-parallax.js"></script>
  <script src="js/angular-materialize.js"></script>
  <script src="js/controllers.js" type="text/javascript"></script>
  <!--<script src="js/main.js" type="text/javascript"></script>-->
</head>

<body ng-controller="MainCtrl">
  <div id="login-modal" class="modal modal-login">
    <div class="modal-content">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="login-input" type="text" class="validate">
          <label for="login-input">Identifier</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password-input" type="password" class="validate">
          <label for="password-input">Password</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="btn indigo modal-action modal-close waves-effect">login</a>
      <a href="#!" class="btn-flat modal-action modal-close waves-effect waves-green">close</a>
    </div>
  </div>
  <div id="header">
    <nav>
      <div class="nav-wrapper indigo lighten-1">
        <a href="#!" class="brand-logo waves-effect waves-light" style="margin-left: 10px;"><i class="material-icons left">email</i>Scriptum</a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="#login-modal" class="waves-effect waves-light waves-block large" ng-mouseenter="lockIcon='lock_open'" ng-mouseleave="lockIcon='lock_outline'" modal><i class="material-icons">{{ lockIcon }}</i></a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <img class="parallax mine" src="images/background.jpg" du-parallax y="background" alt="">
          <div class="tabs-wrapper"><h1 id="header-text" class="header center indigo-text text-lighten-1">Welcome to Scriptum.</h1></div>
          <div class="row center">
            <h5 class="header col s12 light grey-text text-darken-4">A website where you can post your shit.</h5>
          </div>
          <div class="row center">
            <a id="getstarted-button" class="btn-large waves-effect waves-light lighten-1" ng-click="scrollToContent()">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col s12 l12">
            <div class="card indigo">
              <div class="card-content white-text">
                <span class="card-title">
                    Post no.1
                  </span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam vitae hic explicabo sequi beatae deleniti consequuntur incidunt maxime facere numquam corporis quia, magni in odio. Dolorum dolorem adipisci enim voluptas!</p>
              </div>
              <div class="card-action">
                <a href="#like"><i class="material-icons">thumb_up</i></a>
                <a href="#dislike"><i class="material-icons">thumb_down</i></a>
                <div class="chip indigo-text">63</div>
                <a href="#dislike"><i class="material-icons right activator">comment</i></a>
              </div>
              <div class="card-reveal">
                <span class="card-title indigo-text">Comments <i class="material-icons right">close</i></span>
                <ul class="collection">
                  <li class="collection-item avatar">
                    <img class="circle" src="images/user43.png" alt="">
                    <span class="title">John Wick</span>
                    <p>Cool post. Keep up the good work!</p>
                    <div class="secondary-content">
                      <div class="chip indigo white-text">18</div>
                      <a href="#!" class=""><i class="material-icons black-text">grade</i></a>
                    </div>
                  </li>
                  <li class="collection-item avatar">
                    <img class="circle" src="images/user43.png" alt="">
                    <span class="title">James Cena</span>
                    <p>I didn't like it. Work on your writing.</p>
                    <a href="#!" class="secondary-content"><i class="material-icons yellow-text">grade</i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col s12 l12">
            <div class="card indigo">
              <div class="card-content white-text">
                <span class="card-title">
                    Post no.2
                  </span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam vitae hic explicabo sequi beatae deleniti consequuntur incidunt maxime facere numquam corporis quia, magni in odio. Dolorum dolorem adipisci enim voluptas!</p>
              </div>
              <div class="card-action">
                <a href="#like"><i class="material-icons white-text">thumb_up</i></a>
                <a href="#dislike"><i class="material-icons">thumb_down</i></a>
                <div class="chip indigo-text">182</div>
                <a href="#dislike"><i class="material-icons right activator">comment</i></a>
              </div>
              <div class="card-reveal">
                <span class="card-title indigo-text">Comments <i class="material-icons right">close</i></span>
                <ul class="collection">
                  <li class="collection-item avatar">
                    <img class="circle" src="images/user43.png" alt="">
                    <span class="title">John Wick</span>
                    <p>Cool post. Keep up the good work!</p>
                    <div class="secondary-content">
                      <div class="chip indigo white-text">18</div>
                      <a href="#!" class=""><i class="material-icons black-text">grade</i></a>
                    </div>
                  </li>
                  <li class="collection-item avatar">
                    <img class="circle" src="images/user43.png" alt="">
                    <span class="title">James Cena</span>
                    <p>I didn't like it. Work on your writing.</p>
                    <a href="#!" class="secondary-content"><i class="material-icons yellow-text">grade</i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col s12 l12">
            <div class="card indigo">
              <div class="card-content white-text">
                <span class="card-title">
                    Post no.3
                  </span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam vitae hic explicabo sequi beatae deleniti consequuntur incidunt maxime facere numquam corporis quia, magni in odio. Dolorum dolorem adipisci enim voluptas!</p>
              </div>
              <div class="card-action">
                <a href="#like"><i class="material-icons white-text">thumb_up</i></a>
                <a href="#dislike"><i class="material-icons white-text">thumb_down</i></a>
                <div class="chip indigo-text">-3</div>
                <a href="#dislike"><i class="material-icons right activator">comment</i></a>
              </div>
              <div class="card-reveal">
                <span class="card-title indigo-text">Comments <i class="material-icons right">close</i></span>
                <ul class="collection">
                  <li class="collection-item avatar">
                    <img class="circle" src="images/user43.png" alt="">
                    <span class="title">John Wick</span>
                    <p>Cool post. Keep up the good work!</p>
                    <div class="secondary-content">
                      <div class="chip indigo white-text">18</div>
                      <a href="#!" class=""><i class="material-icons black-text">grade</i></a>
                    </div>
                  </li>
                  <li class="collection-item avatar">
                    <img class="circle" src="images/user43.png" alt="">
                    <span class="title">James Cena</span>
                    <p>I didn't like it. Work on your writing.</p>
                    <a href="#!" class="secondary-content"><i class="material-icons yellow-text">grade</i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large z-depth-1 indigo">
      <i class="material-icons">more_vert</i>
    </a>
    <ul>
      <li>
        <a id="scrolltop-button" class="btn-floating blue" ng-click="scrollToTop()"><i class="material-icons">expand_less</i></a>
      </li>
      <li>
        <a class="btn-floating red darken-1" href="#addpost-modal" modal><i class="material-icons">add</i></a>
      </li>
    </ul>
  </div>
  <div id="addpost-modal" class="modal modal-login">
    <div class="modal-content">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">subject</i>
          <input id="title-input" type="text" length="30">
          <label for="title-input">Title</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">create</i>
          <textarea id="content-input" class="materialize-textarea" length="250"></textarea>
          <label for="content-input">Content</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#addpost" class="btn indigo modal-action modal-close waves-effect">add post</a>
      <a href="" class="btn-flat modal-action modal-close waves-effect waves-green">close</a>
    </div>
  </div>
</body>

</html>
